# Ignore all model/config files by default
*.caffemodel
*.prototxt
*.pb
*.pbtxt

# But EXCEPT these ones:
!age_deploy.prototxt
!age_net.caffemodel
!gender_deploy.prototxt
!gender_net.caffemodel
!opencv_face_detector.pbtxt
!opencv_face_detector_uint8.pb
